.join__container {
  row-gap: 3rem;
  padding-bottom: 2.5rem;
}

.join__data {
  text-align: center;
}

.join__description {
  margin-bottom: 2rem;
}

.join__form {
  display: grid;
  row-gap: 1rem;
}

.join__input {
  padding: 1.25rem 1rem;
  background-color: var(--container-color);
}

.join__button {
  cursor: pointer;
}

.join__image {
  position: relative;
  justify-self: center;
  overflow: hidden;
}

.join__img {
  width: 300px;
  transition: transform 0.4s;
}

.join__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 50%,
    hsl(0, 0%, 0%) 125%
  );
}

.join__image:hover .join__img {
  transform: scale(1.2);
}

/********************************************/
@media screen and (min-width: 576px) {
  .join__container {
    grid-template-columns: 380px;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .join__container {
    grid-template-columns: repeat(2, 350px);
    align-items: center;
  }

  .join__data,
  .join__data .section__title {
    text-align: initial;
  }

  .join__image {
    order: -1;
  }

  .join__container {
    grid-template-columns: 460px 340px;
    column-gap: 8.5rem;
    padding-block: 1rem 5rem;
  }

  .join__img {
    width: 460px;
  }

  .join__description {
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 1023px) {
}
@media screen and (min-width: 1152px) {
  
  
}
