/*=============== EXPLORE ===============*/
.explore {
  position: relative;
}

.explore__image {
  position: absolute;
  overflow: hidden;
}

.explore__img {
  width: 100%;
  height: 333px;
  object-fit: cover;
  object-position: center;
}

.explore__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsl(0, 0%, 0%) 5%,
    hsla(0, 0%, 0%, 0) 40%,
    hsla(0, 0%, 0%, 0) 60%,
    hsl(0, 0%, 0%) 92%
  );
}

.explore__content {
  position: relative;
  padding-top: 16rem;
  text-align: center;
  row-gap: 2.5rem;
}

.explore__user {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.explore__profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.explore__name {
  font-size: var(--small-font-size);
  color: var(--title-color);
}

/*********************************************/
@media screen and (min-width: 576px) {
  .explore__content {
    grid-template-columns: 380px;
    justify-content: center;
  }

  .explore__img {
    width: 100vw;
  }
}

@media screen and (min-width: 768px) {
  .explore__img {
    width: 100vw;
  }
}

@media screen and (min-width: 1023px) {
}
@media screen and (min-width: 1152px) {
  .explore__img {
    height: 600px;
  }

  .explore__content {
    padding-top: 28rem;
    grid-template-columns: 670px 1fr;
  }

  .explore__data,
  .explore__data .section__title {
    text-align: initial;
  }

  .explore__user {
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 1.25rem;
  }
}
